.App {
  text-align: center;
}
.page_head {
  font-size: 24px;
  margin: 16px 0px 8px 0px;
}
.p_color_g1 {
  color:  #a6a6a6
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  margin-top: 8%;
}
.card-image {
  width: 100%;
  height: 200px; 
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.align_l {
  text-align: left;
}
.f_s_10{
  font-size: 10px;
}
.currency {
  font-size: 14px;
  color: black;
}
.textbox{
  width: 100%;
  margin-top: 5px;
  font-size: 14px; 
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #a6a6a6;
}.image-upload > input
{
    display: none;
}

::placeholder {
  margin-top: 2px;
  font-size: 12px;
}
.input-euro {
  position: relative;
}
.input-euro.left input {
  padding-left:18px;
}
.input-euro:before {
  position: absolute;
  top: 0;
  content:"₹";
}
.input-euro.left:before {
  left: 5px;
}
.variation_style {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
  width: 100%;
}
.file_style {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
  width: 100%;
}
#file_list {
  display: inline;
  float: left;
}
ul {
  list-style-type: none;
  text-align: left;
}
.add {
  background-color: white;
  margin: 5px;
  border: 1px solid black;
}
.inner {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  color: #a6a6a6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
